{
    "APPLICATION_ROOT": "/api/play2vec",
    
    "SAVE_PATH": "../../src/SoccerData/",
    
    "DATABASE": "file",

    "MAX_IMG": 10,
    
    "JACCARD_THRES": 0.3,
    
    "SEG": 10,
    
    "XLIM": [-52.5, 52.5],
    
    "YLIM": [-34, 34],
    
    "RNN_SIZE": 50,
    
    "NUM_LAYER": 2,
    
    "ENCODE_SIZE": 50,
    
    "DECODE_SIZE": 50,
    
    "WINDOW_SIZE": 5
}
